:root {
    --main-color: #222;
    --secondary-color: #333;
    --tetriary-color: #666;
    --main-text-color: #fff;
    --accent-text-color: #0cf;
}

body, html {
    margin: 0;
    padding: 0;
    min-width: 100%;
    min-height: 99.9vh;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--main-text-color);
    background-color: var(--main-color);
}

body {
    display: flex;
    flex-direction: column;
}

* {
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 4rem;

    background-color: var(--secondary-color);
    border-bottom: 1px solid black;
}

main {
    flex: 1;
    gap: 0.5rem;
    padding: 0.5rem;
}

footer {
    padding: 0.5rem;
    color: var(--accent-text-color);
    opacity: 0.5;
}

.page-title {
    width: fit-content;

    margin-left: 1rem;
    font-size: 2rem;
    font-weight: bolder;

    text-align: left;
    vertical-align: middle;

    background: linear-gradient(135deg, var(--accent-text-color), var(--main-text-color));
    background-clip: text;
    -webkit-background-clip: text;

    color: transparent;
    user-select: none;
}

.flex-container {
    flex: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: start;
    width: 100%;
    height: 10rem;
}

.flex-container > * {
    flex: 1;
}

.flex-spacer {
    flex: 1;
    width: 100%;
    height: 100%;
}

.phys-table {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    padding: 0.5rem 0rem;
    border-bottom: 1px solid var(--accent-text-color);
    border-top: 1px solid var(--accent-text-color);

    gap: 0.5rem;
    margin: 0 0;
}

.phys-table > * {
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 10rem;

    border: 1px solid var(--tetriary-color);
    border-radius: 0.5rem;
}

.phys-table>div {
    overflow-x: scroll;
}

fold-group {
    flex: 0.0 0.0 40rem;
    background-color: var(--secondary-color);
    min-width: 40rem;
}

@media only screen and (max-width: 600px) {
    fold-group {
        min-width: 20rem;
    }
}